#############
## Idea
#############
/.idea/
/JavaRushTasks/
target/
/lib/
/out/
.idea
.repository/
/JavaRushPlugin.properties
/Instruction.png
/out.log
/out.log.*

*.iml
*.iws
*.jrtc
*.class
*.info
*.jar
*.properties
*.png
*.log
